<header class="fixed top-0 w-full h-16 z-10">
  <div
    class="flex flex-row items-center justify-between bg-gray-900/30 backdrop-blur-sm p-4"
  >
    <p class="font-bold text-4xl letter-spacing-2">Portfolio</p>
    <nav class="flex gap-4 mr-2">
      <a href="#">Skills</a>
      <a href="#">Works</a>
      <a href="#">About</a>
    </nav>
  </div>
</header>
