---
const capsuleBg = "/capsules-bg.svg";
---

<div
  class="relative w-full min-h-[70vh] 2xl:min-h-[80vh] overflow-hidden flex items-center justify-center mt-20"
>
  <img
    src={capsuleBg}
    alt="capsule-bg"
    class="absolute inset-0 w-full h-full object-cover opacity-90 z-0"
  />
  <div
    class="relative z-10 w-[92%] max-w-5xl 2xl:max-w-[1600px] flex flex-row items-center justify-between gap-8 2xl:gap-16"
  >
    <div class="w-[30%] shrink-0">
      <p class="text-3xl font-bold border-b-2 border-gray-500 pb-2">
        Software Engineer
      </p>
      <p class="pt-4 text-5xl font-bold whitespace-nowrap">前田 将宗</p>
      <p class="pt-2 text-2xl">(Masamune Maeda)</p>
    </div>
    <div
      class="w-[50%] flex flex-col gap-6 2xl:gap-10 text-base md:text-lg 2xl:text-2xl"
    >
      <p class="leading-relaxed">
        AIを活用したバックエンド・フロントエンドの開発経験があり、品質とスピードを両立させた開発を心がけています。
      </p>
      <p class="leading-relaxed">
        継続的なスキルアップデートのために、プライベートでも新しい技術や言語に触れています。
      </p>
      <p class="leading-relaxed">
        趣味はゲーム（ApexやValorant,Minecraft）とYouTube鑑賞です。
      </p>
    </div>
  </div>
</div>
